# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem
.vscode/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# tests
test-results/
playwright-report/
playwright/.cache/
lh.json
lh-mobile.json
